{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Conference Panel{% endblock %}

{% block navbar-left %}
{% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
{{ block.super }}
{% endblock %}

{% block splash %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h1>{% include "_brandname.html" %}</h1>
            </div>
        </div>
    </div>
</div>
{% endblock splash %}

{% block container %}
<div align="center">
    <a href="{% url 'add-section-conference' conf.id %}">
        <button class="button btn btn-primary"> Add tags to conference </button>
    </a>
</div>
    <!--
<hr/>
<div align="center">
    <button class="button btn btn-primary"> Select a co-chair </button>
</div>
-->
<hr/>
<div align="center">
    <a href="{% url 'create-section' %}">
        <button class="button btn btn-primary"> Create section  </button>
    </a>
</div>
{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}
