{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Conferences{% endblock %}

{% block navbar-left %}
{% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
{{ block.super }}
{% endblock %}

{% block splash %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h1>{% include "_brandname.html" %}</h1>
            </div>
        </div>
    </div>
</div>
<div style="text-align: center">
    <a style="text-decoration: none" href="{% url 'add-conference' %}">
        <button class="btn btn-primary btn-warning">Add a conference</button>
    </a>
</div>
<hr>
{% endblock splash %}

{% block container %}
<div class="col-md-12 col-sm-12">
    <table align="center" class="table table-hover">
            <tr>
                <th>Name </th>
                <th>Website </th>
                <th>General Information </th>
                <th>Start Date </th>
                <th>Abstract Deadline </th>
                <th>Submission Deadline </th>
                <th>Presentation Deadline </th>
                <th>End Date </th>
                <th>Enroll As PC Member </th>
                <th>See the Submissions </th>
                <th>See the PC Members</th>
                <th>Postpone deadlines</th>
                <th>See Pending Reviews</th>
                <th>See Evaluation Result</th>
                <th>Finish Evaluation Period</th>
            </tr>
        {% for conf in conferences %}
        <tr class="even">
                <td><a href="{% url 'submit-proposal' conf.id %}">{{ conf.name }}</a></td>
                <td>{{ conf.website }}</td>
                <td>{{ conf.info }}</td>
                <td>{{ conf.start_date }}</td>
                <td>{{ conf.abstract_date }}</td>
                <td>{{ conf.submission_date }}</td>
                <td>{{ conf.presentation_date }}</td>
                <td>{{ conf.end_date }}</td>
                <td><a href="{% url 'enroll-pcmember' conf.id %}"> Enroll As PC Member </a></td>
                <td><a href="{% url 'submissions' conf.id %}"> See the Submissions</a></td>
                <td><a href="{% url 'pc-members-panel' conf.id %}"> See the PC Members</a></td>
                <td><a href="{% url 'postpone-deadlines' conf.id %}"> Postpone Deadlines</a></td>
                <td><a href="{% url 'reviewer-board' conf.id %}"> See Pending Reviews</a></td>
                <td><a href="{% url 'evaluation-result' conf.id %}"> See Evaluation Result</a></td>
                <td><a href="{% url 'evaluate' conf.id %}"> Finish Evaluation Period </a></td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}
