{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Conferences{% endblock %}

{% block navbar-left %}
{% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
{{ block.super }}
{% endblock %}

{% block splash %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h1>{% include "_brandname.html" %}</h1>
            </div>
            <div class="col-md-4 col-sm-4">
                <li><a href="{% url 'add-conference' %}"> Add a conference</a></li>
            </div>
        </div>
    </div>
</div>
{% endblock splash %}

{% block container %}
<div class="col-md-4 col-sm-4">
    <table>
        <tr>
            <th>Name </th>
            <th>Website </th>
            <th>General Information </th>
            <th>Start Date </th>
            <th>Abstract Deadline </th>
            <th>Submission Deadline </th>
            <th>Presentation Deadline </th>
            <th>End Date </th>
            <th>Enroll As PC Member </th>
            <th>See the submissions </th>
            <th>See the PC Members </th>
        </tr>
        {% for conf in conferences %}
        <tr>
            <td><a href="{% url 'submit-proposal' conf.id %}">{{ conf.name }}</a></td>
            <td>{{ conf.website }}</td>
            <td>{{ conf.info }}</td>
            <td>{{ conf.startDate }}</td>
            <td>{{ conf.abstractDate }}</td>
            <td>{{ conf.submissionDate }}</td>
            <td>{{ conf.presentationDate }}</td>
            <td>{{ conf.endDate }}</td>
            <td><a href="{% url 'enroll-pcmember' conf.id %}"> Enroll As PC Member </a></td>
            <td><a href="{% url 'submissions' conf.id %}"> See the submissions</a></td>
            <td><a href="{% url 'pc-members-panel' conf.id %}"> See the PC Members</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}
