{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Conferences{% endblock %}

{% block navbar-left %}
{% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
{{ block.super }}
{% endblock %}

{% block splash %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h1>{% include "_brandname.html" %}</h1>
            </div>
            <div class="col-md-4 col-sm-4">
                <li><a href="{% url 'add-conference' %}"> Add a conference</a></li>
            </div>
        </div>
    </div>
</div>
{% endblock splash %}

{% block container %}
<div class="col-md-4 col-sm-4">
    <table>
        <tr>
            <th>Abstract </th>
            <th>General Information </th>
            <th>Full Paper </th>
            <th>Author </th>
            <th>See biddings and remarks </th>
        </tr>
        {% for submission in submissions %}
        <tr>
            <td>{{ submission.abstract }}</td>
            <td>{{ submission.metaInfo }}</td>
            <td>{{ submission.fullPaper }}</td>
            <td>{{ submission.submitter.user.name }}</td>
            <td><a href="{% url 'specific-submission' submission.id %}"> See biddings and remarks </a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}
